.container {
  display: flex;

  .sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;

    h3 {
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }
    }
  }

  .main {
    width: 80%;
    padding: 20px;
  }
}
